@import '../../libs/variables';

.bestSeller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 2px solid $grey;
        height: 32rem;
        width: 20%;
        &:last-child {
            margin-right: 0;
        }
        .top {
            .img {
                position: relative;
                height: 15rem;
                margin-bottom: 0.5rem;
                a {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                &_discount {
                    padding: 0.2rem 0.6rem;
					background-color: rgb(240, 22, 22);
					color: #fff;
					font-size: 1rem;
					position: absolute;
					right: 0.5rem;
					top: 0.5rem;
                }
            }
            a {
                color: $tomate_color;
                font-size: 1.3rem;
            }
        }
        .center {
            
            p {
                line-height: 1.2rem;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
        .bot {
            width: 100%;
            font-size: 1.3rem;
            .price {
                color: #dd3f46;
                margin-bottom: 0.6rem;
            }
            .buyBlock {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn {
                    min-width: 2.2rem;
                    min-height: 2.2rem;
                    border: none;
                }
                &_left {
                    display: flex;
                    width: 60%;

                    .btn-operator {
                        font-size: 1.4rem;
                        background-color: #cccccc;
                    }
                    .count {
                        width: 5rem;
                        text-align: center;
                        border: none;
                        font-size: 1.4rem;
                        background-color: #fafafa;
                    }
                }
                &_right {

                    .btn-cart {
                        background-color: $tomate_color;
                        color: #fff;
                    }
                }
            }
        }
    }

    @media (max-width: 980px) {
        
        flex-wrap: wrap;

        &_item {
            //width: 35%;
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }
    @media (max-width: 810px) {
        
        flex-wrap: wrap;

        &_item {
            width: 43%;
            height: 35rem;
            margin-bottom: 1rem;

            &:last-child {
                margin-right: 1.5rem;
            }
            &:nth-child(even) {
                margin-right: 0;
            }
            .top > .img {
                height: 100%;
            }
        }
    }
}