@import '../../libs/variables';

.bestSeller {
    display: flex;
    padding: 2rem 0;
    flex-wrap: wrap;

    &_item {
        display: flex;
        flex: 1 1 auto;
        align-self: stretch;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 0 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 2px solid $grey;
        height: 32rem;
        width: 19%;
        max-width: 19%;
        .top {
            .img {
                position: relative;
                margin-bottom: 0.5rem;
                a {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                &_discount {
                    padding: 0.2rem 0.6rem;
					background-color: rgb(240, 22, 22);
					color: #fff;
					font-size: 1rem;
					position: absolute;
					right: -0.5rem;
					top: -0.5rem;
                }
            }
            a {
                color: $tomate_color;
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
        }
        .center {
            p {
                line-height: 1.2rem;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
        .bot {
            width: 100%;
            font-size: 1.3rem;
            .price {
                color: #dd3f46;
                margin-bottom: 0.6rem;
            }
            
        }
    }

    @media (max-width: 1180px) {
        &_item {
            width: 26%;
            max-width: 26%;
        }
    }
    @media (max-width: 1020px) {

        &_item {
            max-width: 26%;
        }
    }
    @media (max-width: 980px) {

        &_item {
            max-width: 24%;
        }
    }
    @media (max-width: 770px) {

        &_item {
            max-width: 40%;
        }
    }
    @media (max-width: 720px) {

        &_item {
            max-width: 39%;
        }
    }
    @media (max-width: 630px) {

        &_item {
            height: 29rem;
        }
    }
    @media (max-width: 460px) {

        &_item {
            width: 100%;
            max-width: 100%;
            height: 35rem;
        }
    }
    @media (max-width: 420px) {

        &_item {
            width: 100%;
            max-width: 100%;
            height: 32rem;
        }
    }
}