@import '../libs/variables';

.foodNav {
    padding: 1.2rem 0;
    border-bottom: 1px solid $grey;
    a {
        color: $tomate_color;
        text-transform: uppercase;
        margin-right: 1rem;
    }

    @media (max-width: 375px) {
        display: flex;
        flex-wrap: wrap;
        a {
            margin-bottom: 0.3rem;
        }
    }
}